In [70]:
import nltk
import numpy as np
import pandas as pd
from gensim.models import LdaModel
import gensim
from gensim.corpora import Dictionary, MmCorpus
import gensim.corpora as corpora
import glob

import re
import numpy as np
import pandas as  pd
from pprint import pprint# Gensim
import gensim
import gensim.corpora as corpora
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel# spaCy for preprocessing
import spacy# Plotting tools
import pyLDAvis
import pyLDAvis.gensim_models
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer, TfidfTransformer

import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/lukasburtscher/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [71]:
df = pd.read_csv('data/feature/clusters/0_cluster.csv')
df.head()

,ID_GodotObject,cluster_value,merged_text
0,2000115059032,0,medizinisch_Personal Umgang Labor müssen Probe...
1,2000116325081,0,Ende Sicht Regierung setzen Maske bei Einkauf ...
2,2000116371728,0,Clemens Auer italienisch spanisch Verhältnis v...
3,2000116569218,0,sofort einkaufen maskieren erlauben Rewe verre...
4,2000116643454,0,lange Weg zurück dieser Land Locker geschäftsö...

In [72]:
# Merge all text per cluster
# Find all CSV files in the current directory
filenames = glob.glob('data/feature/clusters/*.csv')

# Create a list to store the dataframes
df_clusters = pd.DataFrame()
# Define a function that concatenates the text from a row
def concat_text(row):
    return ' '.join(row)

# Loop over the CSV files
for filename in filenames:
    # Read the file into a dataframe
    
    df = pd.read_csv(filename)
    l = ''.join((df['merged_text'].to_numpy()))
    c = df['cluster_value'][0]
    df_clusters = df_clusters.append({'cluster' : c, 'text' : l}, ignore_index = True)
    
df_clusters.sort_values(by=['cluster'], inplace=True)
df_clusters.reset_index(drop=True, inplace=True)
df_clusters.head()

/var/folders/1_/83qhk9ps6fd0yym23nn9nfz00000gn/T/ipykernel_93571/493074900.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_clusters = df_clusters.append({'cluster' : c, 'text' : l}, ignore_index = True)
/var/folders/1_/83qhk9ps6fd0yym23nn9nfz00000gn/T/ipykernel_93571/493074900.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_clusters = df_clusters.append({'cluster' : c, 'text' : l}, ignore_index = True)
/var/folders/1_/83qhk9ps6fd0yym23nn9nfz00000gn/T/ipykernel_93571/493074900.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_clusters = df_clusters.append({'cluster' : c, 'text' : l}, ignore_index = True)
/var/folders/1_/83qhk9ps6fd0yym23nn9nfz00000gn/T/ipykernel_93571/493074900.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_clusters = df_clusters.append({'cluster' : c, 'text' : l}, ignore_index = True)
/var/folders/1_/83qhk9ps6fd0yym23nn9nfz00000gn/T/ipykernel_93571/493074900.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_clusters = df_clusters.append({'cluster' : c, 'text' : l}, ignore_index = True)

   cluster                                               text
0        0  medizinisch_Personal Umgang Labor müssen Probe...
1        1  Coronavirus Maskenpflicht freie Arbeitsplatz S...
2        2  Einführung Maskenpflicht Regierung verschärfen...
3        3  Österreich Intensivstation Reproduktionsfaktor...
4        4  Anzeige Samstag Polizei nehmen fünf Person fes...

It is generally not necessary to remove duplicate words from a text before calculating the term frequency-inverse document frequency (TF-IDF) scores for the words. The TF-IDF score of a word takes into account both the frequency of the word in the document (term frequency, or TF) and the inverse of the frequency of the word in the collection (inverse document frequency, or IDF).

For example, consider the following two documents:

Document 1: "the cat sat on the mat"
Document 2: "the cat sat on the mat"

The term frequency of "the" in both documents is 2, because it appears twice in each document. The inverse document frequency of "the" in this collection is 1, because it appears in both documents. Therefore, the TF-IDF score of "the" in both documents is 2 * 1 = 2.

On the other hand, the term frequency of "cat" in both documents is 1, because it appears once in each document. The inverse document frequency of "cat" in this collection is 1, because it appears in both documents. Therefore, the TF-IDF score of "cat" in both documents is 1 * 1 = 1.

As you can see, the TF-IDF scores of the words in the documents are the same, regardless of whether the words are duplicated or not. Therefore, it is not necessary to remove duplicate words from a text before calculating the TF-IDF scores.

In [78]:
#TF IDS Score for labeling the clusters
# settings that you use for count vectorizer will go here 
tfidf_vectorizer=TfidfVectorizer(use_idf=True) 
# just send in all your docs here 
tfidf_vectorizer_vectors=tfidf_vectorizer.fit_transform(df_clusters['text'])

# Convert the sparse matrix to a dense array
dense_array = tfidf_vectorizer_vectors.toarray()

# Get the feature names from the TfidfVectorizer object
feature_names = tfidf_vectorizer.get_feature_names()

# Create a dataframe from the dense array
df = pd.DataFrame(dense_array, columns=feature_names).T.reset_index()


df.head()

/opt/homebrew/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

      index         0         1         2         3         4
0      0800  0.000000  0.000000  0.000000  0.000000  0.010141
1  0800_555  0.006140  0.000000  0.045901  0.000000  0.000000
2        10  0.005440  0.015462  0.003389  0.015549  0.004832
3       100  0.020388  0.000000  0.014288  0.000000  0.033959
4       102  0.000000  0.000000  0.007112  0.000000  0.000000

In [80]:
df.to_csv('./data/feature/tfids_cluster.csv', encoding='utf-8', index=False)